html,
body,
h1,
p,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#relistButton {
  padding: 10px 15px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}

#relistButton:hover {
  background-color: purple;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#definitionContainer {
  margin-top: 20px;
}

#definitionContainer h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: purple;
}

#definitionContainer h5 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  color: black;
}

#definitionContainer p {
  margin-bottom: 0.5rem;
  color: purple;
}

#definitionContainer .url {
  color: purple;
  margin-top: 0.25rem;
}
