html,
body,
h1,
p,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#glossaryButton {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}

#glossaryButton:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#definition {
  margin-top: 20px;
}

#definitionSection h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #4CAF50;
}

#definition h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #4CAF50;
}

#definition h5 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  color: black;
}

#definition p {
  margin-bottom: 0.5rem;
  color: #4CAF50;
}

#definition .url {
  color: #4CAF50;
  margin-top: 0.25rem;
}
